/********************COLOR PALETTE *********************************************/

/* https://colorhunt.co/palette/0820322c394b334756ff4c29 */

/*******************************************************************************/

/*********************************GENERAL SELECTORS*****************************
********************************************************************************/
* {
    color: #FF4C29;
}



/*************************************TAG SELECTORS*****************************
********************************************************************************/




/***********************************CLASS SELECTORS*****************************
********************************************************************************/
.background {
    background-color: #082032;
}

.encabezado {
    background-color: #2C394B;
}
.publicidad {
    background-color: #334756;
}



/**************************************ID SELECTORS*****************************
********************************************************************************/

